[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "==2021.1"
python-slugify = "==5.0.2"
rcssmin = "==1.0.6"
argon2-cffi = "==20.1.0"
redis = "==3.5.3"
hiredis = "==1.1.0"
uvicorn = {version = "==0.13.4", extras = ["standard"]}
six = "==1.14.0"
psutil = "==5.8.0"
topicaxis-opengraph = "==0.5"
grabicon = "==0.1.2"
timeago = "==1.0.15"
django-environ = "==0.4.5"
django-model-utils = "==4.1.1"
django-allauth = "==0.44.0"
django-crispy-forms = "==1.11.2"
django-compressor = "==2.4.1"
django-redis = "==4.12.1"
django-debug-toolbar = "==3.2.1"
django-extensions = "==3.1.3"
django-appconf = "==1.0.4"
django-coverage-plugin = "==1.8.0"
djangorestframework = "==3.12.4"
django-cors-headers = "==3.7.0"
djangorestframework-simplejwt = "==4.4.0"
django-rest-auth = "==0.9.5"
dj-rest-auth = "==2.1.7"
django-storages = {version = "==1.11.1", extras = ["boto3"]}
django-stubs = "==1.8.0"
django-stubs-ext = "==0.2.0"
django-annoying = "==0.10.6"
django-filter = "==2.4.0"
drf-yasg = "==1.20.0"
django-url-filter = "==0.3.15"
oauthlib = "==3.1.1"
requests-oauthlib = "==1.3.0"
gunicorn = "==20.1.0"
psycopg2 = "==2.9.1"
django-anymail = {version = "==8.2", extras = ["mailgun"]}
Pillow = "==8.2.0"
PyJWT = "==1.7.1"
Django = "==3.1.12"
Collectfast = "==2.2.0"

[dev-packages]
pytest = "*"
pre-commit = "*"

[requires]
python_version = "3.8"
