option_settings:
    aws:elasticbeanstalk:application:environment:
        PYTHONPATH: "/var/app/current:$PYTHONPATH"

        DJANGO_DEBUG: False
        DJANGO_SECRET_KEY: "8vfSuaJ4B9ugzfU2vWCf8lA134dYMawAjCbJTKV54F9WWUGFstzfZqbEZWM0tcBP"
        DJANGO_ADMIN_URL: "admin/"
        DJANGO_SETTINGS_MODULE: "config.settings.local"
        DJANGO_READ_DOT_ENV_FILE: False

        DATABASE_URL: "postgres://poolink:poolinkdbadmin@poolinkdevdb.ci6uakxa5lcl.ap-northeast-2.rds.amazonaws.com:5432/poolink_backend"

        AWS_ACCESS_KEY_ID: "AKIAZTO43Z2FTLQ25A5T"
        AWS_SECRET_ACCESS_KEY: "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"

        SOCIAL_AUTH_GOOGLE_CLIENT_ID=173501864368-bu7fcnbc56ccsbl9sin5evkte1gvh4kf.apps.googleusercontent.com
        SOCIAL_AUTH_GOOGLE_SECRET=viBu_KR2I1fwFZmxk8qc8lQ1
        STATE=random_string
